{% extends "layout.html" %}
{% block title %}
<title>Account Management</title>
{% endblock %}

{% block frontimg %}
<img id="fore" src="static/img/about.jpg" />
{% endblock %}

{% block content %}
<div class="currentlocation">
<p class="pagetitle">Info / <a href="/account" class="titlebold">Account</a></p>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="contentbox">
            <p class="redtxt"><b>Update Failed because of technical issue - </b></p>
            {{error}}
            <br>
            <p class="redtxt">Please try later </p>
			</div>
	</div>
     			
</div>		
{% endblock %}
