{% extends "layout.html" %}
{% block title %}
{% endblock %}
{% block frontimg %}
<img id="fore" src="/static/img/country.png" />
{% endblock %}
{% block content %}

<div class="row" id="scrollhere" onload="func1()">
    <div class="col-sm-6">
        <div class="contentbox">
          <img  src="/static/img/error500.png" />
        </div>
    </div>
    <div class="col-sm-6">
        <div id="regions_div" style="width:100%;min-width:400px;"></div>
    </div>

</div>
<div class="row">
    <div class="col-sm-6">
    </div>
    <div class="col-sm-6">
        <p class="bluetxt text-center" id="cntname"></p>
        <div id="horbars" style="margin:auto 0;"></div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
  </div>
</div>

{% endblock %}