<div id="" class="" style="padding: 10px 0">
            <table style="margin:auto">
                <tr style="float:center">
                    <td style="vertical-align: middle;"><div class="colorbox" style="background-color:#588D9A;"></div></td>
                    <td style="vertical-align: middle;"class="legendtxt">1 - 500K</td>
                    <td style="vertical-align: middle;padding-left:25px;"><div class="colorbox" style="background-color:#5CB85C;"></div></td>
                    <td style="vertical-align: middle;"class="legendtxt">500K - 10M</td>
                    <td style="vertical-align: middle;padding-left:25px"><div class="colorbox" style="background-color:#FFB31C;"></div></td>
                    <td style="vertical-align: middle;"class="legendtxt">10M - 37M</td>
                </tr>

            </table>
        </div>