
{% extends "layout.html" %}
{% block title %}
<title>Reports</title>
{% endblock %}

{% block frontimg %}
<img id="fore" src="static/img/about.jpg"/>
{% endblock %}

{% block content %}
<div class="currentlocation">
<p class="pagetitle">Info / <a href="/reports" class="titlebold">Reports</a></p>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="contentbox">
            <p class="redtxt"  style="font-size:42px;font-weight:bold">REPORTS</p>
        </div>
    </div>

</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

    var reportsdata = {{report2010 | safe}}

    var reportdetail = {{reportdetail2010 | safe }}
    row = companyname[1];
    google.charts.load('upcoming', {'packages':['geochart','corechart']});
    google.charts.setOnLoadCallback(drawMap);
    function drawMap() {
      row = companyname[1];
      var bardata = new google.visualization.DataTable();
      bardata.addColumn('string','Country');
      bardata.addColumn('number','Score');
      bardata.addColumn({type: 'string', role: 'style'});
      bardata.addRow(['TB',row[2],"color: #FFB31C"]);
      bardata.addRow(['Malaria',row[3],"color: #0083CA"]);
       var baroptions = {
             legend:'none',
             top: 0,
             width: 400,
             left: 200,
             animation:{
                 startup: true,
                 duration: 1000,
                 easing: 'out',
             }
         };
      var barchart = new google.visualization.BarChart(document.getElementById('horbars'));
      barchart.draw(bardata,baroptions);
      document.getElementById('cntname').innerHTML = row[0];
    }

</script>


<div class="row">
<div  class="col-sm-6">
        <p class="bluetxt text-center" id="cntname"></p>
</div>
    <div class="col-sm-6">
         <div class="rgtpos" id="horbars" ></div>
    </div>
</div>

{% endblock %}